*.class
*.info
languages/VisualizationDesign/source_gen.caches/*
languages/VisualizationDesign/source_gen/*
languages/VisualizationDesign/generator/source_gen.caches/*
languages/VisualizationDesign/generator/source_gen/*